.beuti{
    text-align: center;
}
.subnav-content {
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    font-size: 30px;
    border-radius: 10px;
}
.subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
    width: 200px;
    text-align: center;
}
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
.subnav:hover .subnav-content {
    display: block;
}
img {
    margin-top: 60px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    background-color: cyan;
}