.p1 {
    text-align: center;
    font-family: titr;
    font-size: 40px;
    color: GRAY;
}
.p1:hover {
    text-shadow: 15px 10px 15px rgb(71, 71, 70);
    color: rgb(71, 255, 101);
    font-size: 50px;
    font-family: titr;
}
a {
    color: red;
}
a:visited {
    color: blueviolet;
}
.title {
    font-family: titr;
    font-size: 50px;
    text-align: center;
    text-shadow: 15px 15px 30px gray;
}
.title2 {
    position: relative;
    top: 20px;
    right: 150px;
    font-family: nazanin;
    text-align: center;
    font-size: 30px;
    border: 10px dotted;
}
.Menu {
    width: 100%;
    height: 75px;
}
.Site-Logo {
    float: right;
    margin-top: 26px;
    margin-right: 50px;
}