.p1 {
    text-align: center;
    font-family: titr;
    font-size: 40px;
    color: GRAY;
}
.p1:hover {
    text-shadow: 15px 10px 15px rgb(71, 71, 70);
    color: rgb(71, 255, 101);
    font-size: 50px;
    font-family: titr;
}
a {
    color: red;
}
a:visited {
    color: blueviolet;
}
.title {
    font-family: titr;
    font-size: 50px;
    text-align: center;
    text-shadow: 15px 15px 30px gray;
}
.title2 {
    font-family: nazanin;
    text-align: center;
    font-size: 30px;
}