table.farvardin {
    width: 25%;
    height: 442px;
    border-collapse: collapse;
    background-color: aquamarine;
    font-size: 25px;
}
.farvardin td ,.farvardin th {
    padding: 15px;
}
.farvardin thead {
    font-size: larger;
    font-weight: bolder;
    background-color: yellow;
}
.farvardin td:nth-child(even) {
    background-color: rgb(67, 252, 190);
}
table.ordibehesht {
    width: 25%;
    font-size: 25px;
    border-collapse: collapse;
    background-color: rgb(12, 250, 12);
    margin-right: 450px;
    margin-top: -450px;
}
.ordibehesht td ,.ordibehesht th {
    border: 2px solid ;
    padding: 15px;
    border-radius: 5%;
}
.ordibehesht thead {
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(0, 255, 76);
}

table.khordad {
    width: 25%;
    font-size: 25px;
    float: left;
    margin-top: -430px;
    margin-left: 50px;
    height: 362px;
    border-collapse: collapse;
    background-color: rgb(139, 33, 201);
}
.khordad td ,.khordad th {
    padding: 15px;
}
.khordad thead {
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(139, 240, 24);
}
.khordad td:nth-child(even) {
    background-color: rgb(235, 99, 235);
}
.border {
    border: 2px solid ;
}
.free{
    color: red;
}
.back{
    float: left;
    margin-top: -50px;
    font-size: 25px;
    color: black;
    background-color: aquamarine;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.calendar{
    text-align: center;
}