.beuti{
    text-align: center;
}
.subnav-content {
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    font-size: 30px;
}
  
.subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
    width: 200px;
    text-align: center;
}
  
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
  
  .subnav:hover .subnav-content {
    display: block;
  }
.pic9{
    margin-top: 50px;
    border-radius: 20px;
}
body{
    background-color: cyan;
}