.city{
    text-align: center;
    background-color: yellowgreen;
    width: 100%;
    border-radius: 50px;
}
.pic1{
    border-radius: 30px;
    width: 400px;
    height: 700px;
    margin-left: 50px;
}
.pic2{
    border-radius: 30px;
    width: 700px;
    height: 700px;
    margin-left: 50px;
}
.back{
    font-size: 25px;
    color: black;
}
.subnav-content {
    position: absolute;
    left: 0;
    background-color: red;
    width: 200px;
    height: 27px;
    border-radius: 50px;
    z-index: 1;
    font-size: 30px;
}
.subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 27px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
}
.subnav-content a:hover {
    background-color: red;
    color: black;
}
  
  .subnav:hover .subnav-content {
    display: block;
  }
body{
    background-color: cyan;
}